{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ categorie.nom }}</h1>

        <a type="button" class="btn btn-primary" href="{{ path('categorieedit', {'id' : categorie.id}) }}">Editer</a>
        <a type="button" class="btn btn-danger" href="{{ path('categoriedelete', {'id' : categorie.id}) }}">Supprimer</a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titre</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Dernière modification</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
            </thead>
            {% set nb = 1 %}
            <tbody>
            {% for article in articles %}
                <tr>
                    <th scope="row">{{ nb }}</th>
                    <td><a href="{{ path('articleshow', {'id' : article.id}) }}">{{ article.titre }}</a></td>
                    <td><a href="{{ path('categorieshow', {'id' : categorie.id}) }}">{{ article.categorie.nom }}</a></td>
                    <td>Dernière modification le {{ article.dateAjout |date('d/m/y') }}</td>
                    <td><a class="text-info" href="{{ path('articleedit', {'id' : article.id}) }}">Editer</a></td>
                    <td><a class="text-danger" href="{{ path('articledelete', {'id' : article.id}) }}">Supprimer</a></td>
                </tr>
                {% set nb = nb + 1 %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
